@use "mixin/media-query" as mq;

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;

  h2 {
    margin: 1rem 0 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    width: 90%;

    @include mq.below(lg){
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq.below(md){
      grid-template-columns: repeat(1, 1fr);
    }

    > div {
      aspect-ratio: 1/1;
    }

    li{
      img{
        width: 100%;
      }
      p{
        margin: 1rem 0;
      }
    }
  }
}